<h1>Nossos empregados</h1>
<table>
    <thead>
        <th>Nome</th>
        <th>Salário</th>
        <th>Bônus</th>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employeeService.employees">
            <!-- <td>{{ employee.name }}</td>
            <td>{{ employee.salary }}</td> -->
            <td [innerHtml]="employee.name"></td>
            <!-- <td [innerHtml]="employee.salary" [style.color]="getSalaryColor(employee)"></td> -->
            <td [innerHtml]="employee.salary"
                [ngClass]="{'salary-expensive' : employee.salary > 20000, 'salary-cheap' : employee.salary < 1000}">
            </td>
            <td [innerHtml]="employee.bonus"></td>
        </tr>
    </tbody>
</table>
